# testing data
*.mp4
*.mkv
*.png
*.ply
*.bmp

# model weights
*.pth

# pycache
**/__pycache__/
# python venv
.venv/
test_out/

*.DS_Store

# renderer package
viewer/node_modules/
viewer/dist/
viewer/*.tgz
