# local testing data
*.png
*.jpg
*.jpeg
*.webp
*.bmp
*.tiff
*.ply

# model weights
*.pth

# pycache
**/__pycache__/

# python venv
.venv/

# renderer package
viewer/node_modules/
viewer/dist/

# macos
*.DS_Store